<style></style>


<header>
  <nav class="menu">
    <a href="/" class="nav-link">
      <button mat-raised-button color="primary"> Home </button>
    </a>
  </nav>
</header>


<h2>Sertifi Student Year Summary</h2>
<div class="grid-container" *ngIf="isHomeRoute()">
  <table>
    <tr>
      <th>Year</th>
      <th>Attendance #</th>
      <th>Overall GPA</th>
    </tr>
    <tr>
      <td>
        <div class="flex-child" *ngFor="let years of yearListArray; let index = index; trackBy:trackByIndex;"
          style="padding: 5px 5px 5px 5px">
          <span style="padding: 5px 5px 5px 5px">
            <a class="button" routerLink="/year-details" routerLinkActive="activebutton">
              <button mat-raised-button color="primary" ngDefaultControl [(ngModel)]="yearListArray[index]"
                (click)="sendNameArray(completeNamesAttendedArray[index]); sendGpaArray(yearGpaBeforeAvgArray[index]); sendYearArray(yearListArray[index]); ">
                {{years}}
              </button>
            </a>
            <br>
          </span>
        </div>
      </td>
      <td>
        <div class="flex-child" *ngFor="let attendance of yearAttendenceArray;" style="padding: 5px 5px 5px 5px">
          <span style="padding: 5px 5px 5px 5px">
            <a class="button" routerLink="/year-details" routerLinkActive="activebutton">
              <button mat-raised-button color="primary">
                {{attendance}}
              </button>
            </a>
            <br>
          </span>
        </div>
      </td>
      <td>
        <div class="flex-child" *ngFor="let overallgpa of yearGpaAfterAvgArray;" style="padding: 5px 5px 5px 5px">
          <span style="padding: 5px 5px 5px 5px">
            <a class="button" routerLink="/year-details" routerLinkActive="activebutton">
              <button mat-raised-button color="primary">
                GPA: {{overallgpa}}
              </button>
            </a>
            <br>
          </span>
        </div>
      </td>
    </tr>
  </table>
</div>
<h3 *ngIf="!isHomeRoute()">(Click the Home Button for entire summary)</h3>
<div class="grid-container" *ngIf="!isHomeRoute()">

  <table>
    <tr>
      <th>Year</th>
      <th>Student(s)</th>
      <th>Student(s) GPA</th>
    </tr>
    <tr>
      <td>
        <div class="flex-child" *ngFor="let year of yearArrayFromSummary;" style="padding: 5px 5px 5px 5px">
          <span style="padding: 5px 5px 5px 5px">
            <a class="button" routerLink="/year-details" routerLinkActive="activebutton">
              <button mat-raised-button color="primary">
                {{year}}
              </button>
            </a>
            <br>
          </span>
        </div>
      </td>
      <td>
        <div class="flex-child" *ngFor="let names of nameArrayFromSummary;" style="padding: 5px 5px 5px 5px">
          <span style="padding: 5px 5px 5px 5px">
            <a class="button" routerLink="/year-details" routerLinkActive="activebutton">
              <button mat-raised-button color="primary">
                {{names}}
              </button>
            </a>
            <br>
          </span>
        </div>
      </td>
      <td>
        <div class="flex-child" *ngFor="let gpas of gpaArrayFromSummary;" style="padding: 5px 5px 5px 5px">
          <span style="padding: 5px 5px 5px 5px">
            <a class="button" routerLink="/year-details" routerLinkActive="activebutton">
              <button mat-raised-button color="primary">
                {{gpas}}
              </button>
            </a>
            <br>
          </span>
        </div>
      </td>
    </tr>
  </table>
</div>